<%= simple_form_for @profile, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= error_span(@profile[:name]) %>
  <%#= f.input :status %>
   <div class="form-group">
  <%#= f.select(:status, options_for_select([['Active','A'],['Inactive','I']]), :class => 'form-control')%>
  <label>Estado</label><br>
  <%= f.collection_select :status, State.all, :id, :name,  :class => 'form-control'  %>
  </div>
  
  <% if @varctrl_vista == 1 %>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Modules associated</h3>
  </div>
  
  <div class="panel-body">
              <table class="table table-striped">
              <thead>
                <tr>
                  <th>Module</th>
                  <th>Create</th>
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                
                <% if @cont_module_profile > 0 %>
                
                <% @module_profiles.each do |module_profile| %>
                  <tr>
                    <td>
                        <%=Modulo.find(module_profile.idmodulo).name%>
                    </td>
                    <td><%=module_profile.created_at %></td>
                    <td>
                     <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      module_profile_path(module_profile),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
                    </td>
                  </tr>
                <% end %>
                <%else%>
                    <tr>
                        <td >no records associated</td>
                    </tr>        
                <%end%>
               
              </tbody>
            </table>
            <%if !@val_module_profile%>
               <%= link_to t('.Assign module', :default => t("helpers.links.Assign module")), 
                      addmodule_profiles_path(@profile), :class => 'btn btn-default btn-xs' %>
            <%end%>          
  </div>
   
</div>
  <%end%>
  <br>
  
  <%#= error_span(@profile[:status]) %>
  

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn btn-default' %>
<% end %>
