<%- model_class = Driver -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:firstname) %>:</strong></dt>
  <dd><%= @driver.firstname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lastname) %>:</strong></dt>
  <dd><%= @driver.lastname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @driver.age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:datebirthday) %>:</strong></dt>
  <dd><%= @driver.datebirthday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:document) %>:</strong></dt>
  <dd><%= @driver.document %></dd>
  <dt><strong><%= model_class.human_attribute_name(:license) %>:</strong></dt>
  <dd><%= @driver.license %></dd>
  <dt><strong><%= model_class.human_attribute_name(:yearexperience) %>:</strong></dt>
  <dd><%= @driver.yearexperience %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @driver.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state_id) %>:</strong></dt>
  <dd><%= State.find(@driver.state_id).name  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rating) %>:</strong></dt>
  <dd><%= @driver.rating %></dd>
  <dt><strong>Photo:</strong></dt>
  <dd><%= image_tag @driver.image, :class => "style_image" %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              drivers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_driver_path(@driver), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              driver_path(@driver),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
